<app-headline [subtitle]="'HASKELL.PATTERN.SUBTITLE' | translate">{{
  'Pattern Matching' | translate
}}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'HASKELL.PATTERN.INTRO' | translate }}
    </p>

    <p>{{ 'HASKELL.PATTERN.MATCH' | translate }}</p>
    <pre><code [highlight]="codeMatch" language="haskell"></code></pre>

    <p>{{ 'HASKELL.PATTERN.GUARDS' | translate }}</p>
    <pre><code [highlight]="codeGuards" language="haskell"></code></pre>
  </div>
</div>
