<app-headline>Pattern Matching & Guards</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      Pattern Matching erlaubt elegantes Zerlegen von Datenstrukturen; Guards ergänzen ausdrucksstarke Bedingungen.
    </p>

    <p>Pattern Matching auf einer List-ähnlichen Struktur:</p>
    <pre><code [highlight]="codeMatch" language="haskell"></code></pre>

    <p>Guards zur Fallunterscheidung:</p>
    <pre><code [highlight]="codeGuards" language="haskell"></code></pre>
  </div>
</div>
