@use "../colors" as colors;

section {
  background: colors.$bg;
  /* add small gaps to avoid touching fixed header/footer */
  padding-top: 100px; /* header is 90px => 10px breathing room */
  padding-bottom: 88px; /* footer safe area (~72px) + ~16px gap */
}
