<header id="main-header">
  <div class="row">
    <div class="logo">
      <a routerLink="">&nbsp;</a>
    </div>
    <ul class="header-social">
      <li *ngFor="let sm of socialMedia">
        <a [href]="sm.link" target="_blank">
          <fa-icon [icon]="sm.icon"></fa-icon>
        </a>
      </li>
    </ul>
    <ul class="header-lang" [attr.aria-label]="('HEADER.ARIA.LANG_SWITCHER' | translate)">
      <li>
        <button type="button" (click)="setLang('en')" [class.active]="currentLang==='en'" [attr.title]="('HEADER.LANG.EN' | translate)" [attr.aria-label]="('HEADER.ARIA.SWITCH_EN' | translate)">
          <span class="flag flag-gb" aria-hidden="true"></span>
        </button>
      </li>
      <li>
        <button type="button" (click)="setLang('de')" [class.active]="currentLang==='de'" [attr.title]="('HEADER.LANG.DE' | translate)" [attr.aria-label]="('HEADER.ARIA.SWITCH_DE' | translate)">
          <span class="flag flag-de" aria-hidden="true"></span>
        </button>
      </li>
    </ul>
  </div>
</header>
