
header {
  height             : 66px;
  width              : 100%;
  position           : fixed;
  left               : 0;
  top                : 0;
  z-index            : 600;
  background-color   : rgba(17, 20, 23, 0.8);
  -moz-transition    : all 0.5s ease-in-out;
  -o-transition      : all 0.5s ease-in-out;
  -webkit-transition : all 0.5s ease-in-out;
  -ms-transition     : all 0.5s ease-in-out;
  transition         : all 0.5s ease-in-out;
}

header.opaque {
  background    : black;
  border-bottom : 1px solid rgba(255, 255, 255, 0.1);
}

header .logo {
  /*background   : #2e7d32;*/
  float        : left;
  width        : auto;
  margin-left  : 15px;
  margin-right : 30px;
  z-index      : 600;
  position     : relative;
}

header .logo a {
  display         : block;
  margin          : 0;
  padding         : 0;
  border          : none;
  text-shadow     : none;
  color           : transparent;
  width           : 114px;
  height          : 66px;
  background      : url("../../assets/images/tomatetrans.png") no-repeat center;
  background-size : 50%;
}

.bar-left {
  border-left  : 1px solid rgba(150, 150, 150, 0.2);
  padding-left : 36px;
}

header .header-social {
  font-size    : 20px;
  font-weight  : normal;
  line-height  : 66px;
  margin-top   : 0;
  margin-left  : 30px;
  /*padding-left : 36px;*/
  /*border-left  : 1px solid rgba(150, 150, 150, 0.2);*/
  float        : left;
  position     : relative;
  top          : -1px;
}

header .header-social li {
  display      : inline-block;
  margin-right : 15px;
}

header .header-social li a {
  color : #ffffff;
}

header .header-social li a:hover {
  color : #2e7d32;
}

@media only screen and (max-width : 880px) {
  header .header-social {
    display : none;
  }
}

@media only screen and (max-width : 768px) {
  header {
    background    : black;
    border-bottom : 1px solid rgba(255, 255, 255, 0.1);
  }

  header .row {
    width : 100%;
  }

  header .logo {
    margin-left : -30px;
  }

}

#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin  : 0;
  padding : 0;
}

#nav-wrap {
  font           : 13px 'Raleway', sans-serif;
  text-transform : uppercase;
  letter-spacing : 2px;
  float          : left;
}

#nav-wrap > a {
  display : none;
}

ul#nav {
  min-height : 66px;
  display    : inline-block;
  width      : auto;
  text-align : left;
}

ul#nav li {
  position   : relative;
  list-style : none;
  display    : inline-block;
  height     : 66px;
}

ul#nav > li {
  padding            : 14px 12px;
  line-height        : 38px;
  text-decoration    : none;
  text-align         : left;
  color              : #ffffff;
  position           : relative;
  -moz-transition    : color 0.2s ease-in-out;
  -o-transition      : color 0.2s ease-in-out;
  -webkit-transition : color 0.2s ease-in-out;
  -ms-transition     : color 0.2s ease-in-out;
  transition         : color 0.2s ease-in-out;
}

ul#nav li:hover {
  color : #2e7d32;
}

ul#nav li:active {
  background-color : transparent !important;
}

ul#nav li.current {
  color : #2e7d32;
}

ul#nav li:focus {
  outline : none;
}

ul#nav li.current:after {
  position           : absolute;
  left               : 50%;
  bottom             : 0;
  width              : 40px;
  height             : 2px;
  margin-left        : -23px;
  background-color   : white;
  content            : '\0020';
  display            : block;
  -moz-transition    : all 0.3s ease-in-out;
  -o-transition      : all 0.3s ease-in-out;
  -webkit-transition : all 0.3s ease-in-out;
  -ms-transition     : all 0.3s ease-in-out;
  transition         : all 0.3s ease-in-out;
}

@media only screen and (min-width : 769px) {
  #nav-wrap ul#nav {
    display : block !important;
  }

  #menu__toggle, .menu__btn {
    display : none;
  }
}


@media only screen and (max-width : 768px) {
  #nav-wrap {
    z-index  : 700;
    display  : block;
    width    : 100%;
    float    : none;
    position : absolute;
    top      : 0;
    right    : 0;
  }

  #nav-wrap > a {
    border     : none;
    color      : #ffffff;
    height     : 40px;
    min-width  : 40px;
    font-size  : 12px;
    text-align : left;
    float      : right;
    display    : block;
    padding    : 0;
    position   : relative;
    top        : 13px;
    right      : 20px;
  }

  #nav-wrap > a:hover .menu-icon {
    background : #ffffff;
  }

  #nav-wrap .menu-icon {
    display            : inline-block;
    width              : 24px;
    height             : 3px;
    margin-top         : -3px;
    position           : absolute;
    right              : 8px;
    top                : 50%;
    bottom             : auto;
    left               : auto;
    background         : #2e7d32;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    -webkit-transition : all 0.3s ease-in-out;
    -ms-transition     : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
    text-shadow        : none;
    color              : transparent;
  }


  #nav-wrap .menu-icon:before, #nav-wrap .menu-icon:after {
    content          : '';
    width            : 100%;
    height           : 100%;
    position         : absolute;
    background-color : inherit;
    left             : 0;
  }

  #nav-wrap .menu-icon:before {
    bottom : 8px;
  }

  #nav-wrap .menu-icon:after {
    top : 8px;
  }

  #nav-wrap ul#nav {
    background : #1c212a;
    padding    : 30px;
    /*padding    : 54px 45px 60px 45px;*/
    margin     : 0;
    height     : auto;
    /*display    : none;*/
    clear      : both;
    width      : 100%;
    float      : none;
    position   : absolute;
    top        : 66px;
    right      : 0;
  }

  #nav-wrap ul#nav > li {
    display       : block;
    float         : none;
    height        : auto;
    text-align    : left;
    border-bottom : 1px dotted rgba(200, 200, 200, 0.1);
    padding       : 6px 0;
  }

  #nav-wrap ul#nav > li:first-child {
    border-top : 1px dotted rgba(200, 200, 200, 0.1);
  }

  #nav-wrap ul#nav li {
    display     : block;
    width       : auto;
    color       : #cacbcb;
    padding     : 20px 0;
    line-height : 10px;
  }

  #nav-wrap ul#nav li:hover {
    color : #ffffff;
  }

  #nav-wrap ul#nav li.current {
    background : none;
    color      : #2e7d32;
  }

  #nav-wrap ul#nav li.current:after {
    display : none;
  }

  #nav-wrap a.mobile-btn {
    display : block;
  }

  .js #nav-wrap a#toggle-btn {
    display : block;
  }

  .no-js #nav-wrap:not(:target) > a:first-of-type, .no-js #nav-wrap:target > a:last-of-type {
    display : block;
  }

  .no-js #nav-wrap:target ul#nav {
    display : block;
  }
}

@media only screen and (max-width : 768px) {

  #menu__toggle {
    opacity : 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform : rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top       : 0;
    transform : rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top       : 0;
    transform : rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility : visible;
    right      : 0;
  }

  .menu__btn {
    display     : flex;
    align-items : center;
    position    : fixed;
    top         : 20px;
    right       : 20px;
    width       : 26px;
    cursor      : pointer;
    z-index     : 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display             : block;
    position            : absolute;
    width               : 100%;
    height              : 2px;
    background-color    : #2e7d32;
    transition-duration : .25s;
  }

  .menu__btn > span::before {
    content : '';
    top     : -8px;
  }

  .menu__btn > span::after {
    content : '';
    top     : 8px;
  }

  .menu__box {
    display             : block;
    position            : fixed;
    visibility          : hidden;
    top                 : 0;
    right               : -100%;
    width               : 300px;
    height              : 100%;
    margin              : 0;
    padding             : 80px 0;
    list-style          : none;
    background-color    : #eceff1;
    box-shadow          : 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration : .25s;
  }

  .menu__item {
    display             : block;
    padding             : 12px 24px;
    color               : #2e7d32;

    font                : 12px 'Raleway', sans-serif;
    text-transform      : uppercase;
    letter-spacing      : 2px;

    font-weight         : 600;
    outline             : none;
    text-decoration     : none;
    transition-duration : .25s;
  }

  .menu__item:hover {
    background-color : #cfd8dc;
  }
}
