@use "../colors";

footer {
  padding: 8px 0 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background: colors.$bg;
  border-top: 1px solid colors.$border;
  color: colors.$text_muted;

  .content {
    margin-bottom: 0;
  }

  a {
    color: colors.$white_full;

    &:visited {
      color: colors.$white_full;
    }

    &:hover, &:focus {
      color: colors.$green;
    }
  }

  hr {
    display: none;
  }

  .info {
    display: none;
  }

  .footer-logo {
    display: none;
  }

  .copyright {
    clear: both;
    margin: 4px 0 0;
    padding: 0;
    font: 12px/18px 'Raleway', sans-serif;
    letter-spacing: 0.5px;
    color: colors.$text_muted;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 5px;
    }
  }

  .social-links {
    margin: 6px auto 2px;
    padding: 0;
    font-size: 24px;
    text-align: center;

    li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 16px;

      a {
        color: colors.$white_muted; /* slightly muted icons */

        &:hover, &:focus {
          color: colors.$green;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    .social-links {
      font-size: 22px;

      li {
        margin-left: 12px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  footer {
    .social-links {
      font-size: 20px;

      li {
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  footer {
    .social-links {
      font-size: 18px;

      li {
        margin-left: 8px;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  footer {
    .social-links {
      font-size: 16px;

      li {
        margin-left: 6px;
      }
    }
  }
}
