<footer>
  <div class="row">
    <div class="twelve columns content group">
      <ul class="social-links">
        <li><a href="mailto:meikr@posteo.de" target="_blank">
          <fa-icon icon="envelope"></fa-icon>
        </a></li>
        <li><a href="https://github.com/Paulchenkiller" target="_blank">
          <fa-icon [icon]="['fab','github-square']"></fa-icon>
        </a></li>
        <li><a href="https://www.linkedin.com/in/meik-geldmacher" target="_blank">
          <fa-icon [icon]="['fab','linkedin']"></fa-icon>
        </a></li>
        <li><a href="https://www.xing.com/profile/Meik_Geldmacher" target="_blank">
          <fa-icon [icon]="['fab','xing-square']"></fa-icon>
        </a></li>
      </ul>
      <hr/>
      <div class="info">
        <div class="footer-logo"></div>
      </div>
    </div>
    <ul class="copyright">
      <li>Copyright &copy; Tomatenstau.de {{ currentYear }}</li>
    </ul>
  </div>
</footer>
