<app-headline>{{ 'Code' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'CODE.INTRO' | translate }}
    </p>

    <ul role="list">
      <li *ngFor="let codeComponent of codeComponents" role="listitem">
        <a
          [routerLink]="codeComponent.route"
          [attr.aria-label]="(codeComponent.name | translate) || codeComponent.fallback"
          [title]="(codeComponent.name | translate) || codeComponent.fallback"
        >
          {{ (codeComponent.name | translate) || codeComponent.fallback }}
        </a>
      </li>
    </ul>
  </div>
</div>
