<app-headline>TypeScript: Strukturelle Typisierung & Excess-Property-Checks</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      TypeScript ist strukturell typisiert: Entscheidend ist die Form eines Typs, nicht sein Name. Inline-Objektliterale
      unterliegen außerdem den Excess-Property-Checks.
    </p>

    <p>Strukturelle Typisierung:</p>
    <pre><code [highlight]="codeStructural" language="typescript"></code></pre>

    <p>Excess-Property-Checks:</p>
    <pre><code [highlight]="codeExcess" language="typescript"></code></pre>
  </div>
</div>
