<app-headline [subtitle]="'JAVASCRIPT.TS.SUBTITLE' | translate">{{ 'TS Structural Typing' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVASCRIPT.TS.INTRO' | translate }}
    </p>

    <p>{{ 'JAVASCRIPT.TS.STRUCTURAL' | translate }}</p>
    <pre><code [highlight]="codeStructural" language="typescript"></code></pre>

    <p>{{ 'JAVASCRIPT.TS.EXCESS' | translate }}</p>
    <pre><code [highlight]="codeExcess" language="typescript"></code></pre>
  </div>
</div>
