<app-headline>{{ 'Haskell' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'HASKELL.INDEX.INTRO' | translate }}
    </p>

    <pre><code [highlight]="helloWorld" language="haskell"></code></pre>

    <div>
      <ul>
        <li><a routerLink="purity-io">{{ 'Purity & IO' | translate }} – {{ 'HASKELL.PURITY.SUBTITLE' | translate }}</a></li>
        <li><a routerLink="lazy-evaluation">{{ 'Lazy Evaluation' | translate }} & {{ 'HASKELL.LAZY.SUBTITLE' | translate }}</a></li>
        <li><a routerLink="typeclasses">{{ 'Typeclasses' | translate }} & {{ 'HASKELL.TYPECLASSES.SUBTITLE' | translate }}</a></li>
        <li><a routerLink="monads">{{ 'Monaden' | translate }}: {{ 'HASKELL.MONADS.SUBTITLE' | translate }}</a></li>
        <li><a routerLink="pattern-matching">{{ 'Pattern Matching' | translate }} & {{ 'HASKELL.PATTERN.SUBTITLE' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>
