<app-headline>Haskell</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      Haskell ist eine rein funktionale, lazy ausgewertete, statisch typisierte Programmiersprache. Hier sammle ich
      typische Konzepte und Stolperfallen.
    </p>

    <pre><code [highlight]="helloWorld" language="haskell"></code></pre>

    <div>
      <ul>
        <li><a routerLink="purity-io">Purity & IO – Nebenwirkungen kapseln</a></li>
        <li><a routerLink="lazy-evaluation">Lazy Evaluation & Space Leaks</a></li>
        <li><a routerLink="typeclasses">Typeclasses & Ableitungen</a></li>
        <li><a routerLink="monads">Monaden: Maybe & Either</a></li>
        <li><a routerLink="pattern-matching">Pattern Matching & Guards</a></li>
      </ul>
    </div>
  </div>
</div>
