<app-headline [subtitle]="'JAVA.EQUALS_HASHCODE.SUBTITLE' | translate">{{ 'equals & hashCode' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVA.EQUALS_HASHCODE.INTRO' | translate }}
    </p>
    <p>{{ 'JAVA.EQUALS_HASHCODE.BAD' | translate }}</p>
    <pre><code [highlight]="badCode" language="java"></code></pre>

    <p>{{ 'JAVA.EQUALS_HASHCODE.GOOD' | translate }}</p>
    <pre><code [highlight]="goodCode" language="java"></code></pre>
  </div>
</div>
