
#about {
  background: #111417;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid #15191d;
}

#about h3 {
  font: 18px/36px 'Raleway', sans-serif;
  color: #2e7d32;
  text-transform: none;
  letter-spacing: 0;
  padding: 0;
  margin-bottom: 6px;
}

.process {
  margin-top: 12px;
}

.process .bgrid {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.process .bgrid:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .process .bgrid:hover {
    background: inherit;
  }
}

#about .team {
  margin-top: 30px;
}

#team-wrapper {
  margin: 0 auto;
}
