<app-headline>{{ 'JavaScript/TypeScript' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVASCRIPT.INDEX.INTRO' | translate }}
    </p>

    <p>{{ 'JAVASCRIPT.INDEX.JS_HELLO' | translate }}</p>
    <pre><code [highlight]="helloWorldJs" language="javascript"></code></pre>

    <p>{{ 'JAVASCRIPT.INDEX.TS_HELLO' | translate }}</p>
    <pre><code [highlight]="helloWorldTs" language="typescript"></code></pre>

    <div>
      <ul>
        <li><a routerLink="closures-scope">{{ 'Closures & Scope' | translate }}</a></li>
        <li><a routerLink="hoisting-tdz">{{ 'Hoisting & TDZ' | translate }}</a></li>
        <li><a routerLink="async-await">{{ 'async/await' | translate }}</a></li>
        <li><a routerLink="this-arrow">{{ 'this & Arrow' | translate }}</a></li>
        <li><a routerLink="ts-structural-typing">{{ 'TS Structural Typing' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>
