<app-headline>JavaScript / TypeScript</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      JavaScript ist die Laufzeitsprache des Webs; TypeScript erweitert sie um statische Typen. Hier sammle ich
      typische Stolperfallen und Best Practices aus beiden Welten.
    </p>

    <p>JavaScript Hello World:</p>
    <pre><code [highlight]="helloWorldJs" language="javascript"></code></pre>

    <p>TypeScript Hello World:</p>
    <pre><code [highlight]="helloWorldTs" language="typescript"></code></pre>

    <div>
      <ul>
        <li><a routerLink="closures-scope">Closures & Scope – typische Fallen</a></li>
        <li><a routerLink="hoisting-tdz">Hoisting & Temporal Dead Zone</a></li>
        <li><a routerLink="async-await">async/await & Promise-Fallen</a></li>
        <li><a routerLink="this-arrow">this-Bindung vs. Arrow Functions</a></li>
        <li><a routerLink="ts-structural-typing">TypeScript: Strukturelle Typisierung & Excess-Property-Checks</a></li>
      </ul>
    </div>
  </div>
</div>
