<app-headline>{{ 'Closures & Scope' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVASCRIPT.CLOSURES.INTRO' | translate }}
    </p>

    <p>{{ 'JAVASCRIPT.CLOSURES.BAD' | translate }}</p>
    <pre><code [highlight]="codeVar" language="javascript"></code></pre>

    <p>{{ 'JAVASCRIPT.CLOSURES.GOOD' | translate }}</p>
    <pre><code [highlight]="codeLet" language="javascript"></code></pre>

    <p>{{ 'JAVASCRIPT.CLOSURES.EX' | translate }}</p>
    <pre><code [highlight]="codeClosure" language="javascript"></code></pre>
  </div>
</div>
