<app-headline>{{ 'Hanoi' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>{{ 'PROLOG.HANOI.P1' | translate }}</p>

    <p>{{ 'PROLOG.HANOI.P2' | translate }}</p>
    <pre><code [highlight]="code1" language="text"></code></pre>
    <p>{{ 'PROLOG.HANOI.P3' | translate }}</p>
    <pre><code [highlight]="code11" language="text"></code></pre>

    <p>{{ 'PROLOG.HANOI.P4' | translate }}</p>
    <p>{{ 'PROLOG.HANOI.P5' | translate }}</p>

    <pre><code [highlight]="code2" language="prolog"></code></pre>

    <p>{{ 'PROLOG.HANOI.P6' | translate }}</p>

    <pre><code [highlight]="code3" language="prolog"></code></pre>

    <p>{{ 'PROLOG.HANOI.P7' | translate }}</p>

    <pre><code [highlight]="code4" language="text"></code></pre>

    <p>
      {{ 'PROLOG.HANOI.P8' | translate }}
      <a href="https://isbnsearch.org/isbn/9780821848142" target="_blank">[Mi09]</a>
    </p>
  </div>
</div>
