<app-headline h1="Türme von Hanoi"></app-headline>
<div class="row">
  <div class="twelve columns">
    <p>Die Türme von Hanoi sind ein mathematisches Knobel- und Geduldsspiel.
      Einer der Türme ist dabei aus mehreren Scheiben aufgebaut, wobei die jeweils kleineren auf den größeren liegen.
      Der neue Turm muss wieder dieselbe Reihenfolge der Scheiben enthalten.
      Dabei gelten folgende Regeln:
      Es darf immer nur eine Scheibe bewegt werden und es darf nie eine größere Scheibe auf einer kleineren liegen. </p>

    <p>Ausgangszustand (bei 3 Ringen):</p>
    <pre><code [highlight]="code1" [language]=""></code></pre>
    <p>Zielzustand (bei 3 Ringen):</p>
    <pre><code [highlight]="code11" [language]=""></code></pre>

    <p>Um das Ganze in Prolog zu lösen kann folgende Strategie verfolgt werden</p>
    Im besten Falle muss eine Scheibe von einem Turm zum Zielturm verschoben werden.
    Dabei wird X nach Y verschoben. Im rekursiven Fall werden N Scheiben von X nach Y verschoben.
    Um dies zu erreichen, werden die ersten N-1 Scheiben zu einer anderen Scheibe X verschoben.
    Die letzte Scheibe wird dabei vom Turm X zum Turm Y verschoben. Anschließend werden die N-1 Scheiben von X nach Y
    verschoben:

    <pre><code [highlight]="code2" [language]=""></code></pre>

    <p>Ein beispielhafter Aufruf mit 3 Scheiben sieht wie folgt aus:</p>

    <pre><code [highlight]="code3" language=""></code></pre>

    <p>Die Ausgabe liefert die notwendigen Züge:</p>

    <pre><code [highlight]="code4" [language]=""></code></pre>

    <p>Das Spiel kann mit unendlich vielen Scheiben gelöst werden
      <a target="_blank" href="https://isbnsearch.org/isbn/9780821848142">[Mi09]</a>. Meistens werden zwischen 7 und 9
      Scheiben verwendet.</p>
  </div>
</div>
