<app-headline>Monaden: Maybe & Either</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      Monaden modellieren Berechnungen mit Kontext (z.B. Fehler oder Abwesenheit eines Werts). <code>Maybe</code> steht
      für optional, <code>Either e a</code> für Fehler <code>e</code> oder Ergebnis <code>a</code>.
    </p>

    <p><code>Maybe</code>-Beispiel:</p>
    <pre><code [highlight]="codeMaybe" language="haskell"></code></pre>

    <p><code>Either</code>-Beispiel:</p>
    <pre><code [highlight]="codeEither" language="haskell"></code></pre>
  </div>
</div>
