<app-headline [subtitle]="'JAVA.CONCURRENT.SUBTITLE' | translate">{{ 'ConcurrentModification' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVA.CONCURRENT.INTRO' | translate }}
    </p>

    <p>{{ 'JAVA.CONCURRENT.BAD' | translate }}</p>
    <pre><code [highlight]="badCode" language="java"></code></pre>

    <p>{{ 'JAVA.CONCURRENT.GOOD1' | translate }}</p>
    <pre><code [highlight]="goodCode1" language="java"></code></pre>
    <p>{{ 'JAVA.CONCURRENT.GOOD2' | translate }}</p>
    <pre><code [highlight]="goodCode2" language="java"></code></pre>
  </div>
</div>
