.member {
  margin-bottom : 24px;
  margin-top    : 12px;
}

.member h3 {
  line-height   : 24px;
  margin-bottom : 0;
}

.member span {
  position    : relative;
  font-size   : 13px;
  line-height : 15px;
  color       : #ffffff;
}

.member-pic {
  position    : relative;
  line-height : 1;
  overflow    : hidden;
  background  : #ffffff;
}

.member-pic img {
  vertical-align : bottom;
}

.mask {
  position           : absolute;
  left               : 0;
  bottom             : 0;
  width              : 100%;
  height             : 100%;
  background         : rgba(253, 197, 1, 0.5);
  filter             : alpha(opacity=0);
  -ms-filter         : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity            : 0;
  zoom               : 1;
  -moz-transition    : opacity 0.5s ease-in-out;
  -o-transition      : opacity 0.5s ease-in-out;
  -webkit-transition : opacity 0.5s ease-in-out;
  -ms-transition     : opacity 0.5s ease-in-out;
  transition         : opacity 0.5s ease-in-out;
}

:hover .mask {
  filter     : alpha(opacity=100);
  -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity    : 1;
  zoom       : 1;
}

.member-social {
  font-size   : 16px;
  font-weight : normal;
  line-height : 18px;
  color       : #969696;
  margin      : 0;
  padding     : 0;
}

.member-social li {
  display      : inline-block;
  margin-right : 15px;
}


@media only screen and (max-width : 1024px) {
  .member-social li {
    margin-right : 10px;
  }
}

@media only screen and (max-width : 768px) {
  .member p {
    font-size   : 14px;
    line-height : 27px;
  }
}

@media only screen and (max-width : 600px) {
  .member-pic {
    width        : 80px;
    height       : 80px;
    float        : left;
    margin-right : 30px;
    position     : relative;
    top          : 6px;
  }

  .member-pic .mask {
    display : none;
  }

  .member-name + p {
    clear      : both;
    margin-top : 30px;
  }

  .member p {
    font-size   : 16px;
    line-height : 30px;
  }
}
