<app-headline h1="Prolog"></app-headline>
<div class="row">
  <div class="twelve columns">
    <pre><code [highlight]="helloWorld" language="prolog"></code></pre>
    <p>
      Prolog gilt als einer der wichtigsten logischen Programmiersprachen. Erste Erfahrungen mit der Sprache durfte ich
      während meines Studiums sammeln.
    </p>
    <div>
      <ul>
        <li><a routerLink="ackermann">Ackermann</a></li>
        <li><a routerLink="hanoi">Türme von Hanoi</a></li>
      </ul>
    </div>
  </div>
</div>
