<app-headline [subtitle]="'HASKELL.TYPECLASSES.SUBTITLE' | translate">{{ 'Typeclasses' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'HASKELL.TYPECLASSES.INTRO' | translate }}
    </p>

    <p>{{ 'HASKELL.TYPECLASSES.DERIVE' | translate }}</p>
    <pre><code [highlight]="codeDerive" language="haskell"></code></pre>

    <p>{{ 'HASKELL.TYPECLASSES.CUSTOM' | translate }}</p>
    <pre><code [highlight]="codeCustom" language="haskell"></code></pre>
  </div>
</div>
