<app-headline>Typeclasses & Ableitungen</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      Typeclasses beschreiben Schnittstellen (z.B. <code>Show</code>, <code>Eq</code>, <code>Ord</code>). Viele
      Standardinstanzen können automatisch via <code>deriving</code> erzeugt werden – oder man implementiert sie selbst.
    </p>

    <p>Automatisches <code>deriving</code>:</p>
    <pre><code [highlight]="codeDerive" language="haskell"></code></pre>

    <p>Eigene Instanz definieren:</p>
    <pre><code [highlight]="codeCustom" language="haskell"></code></pre>
  </div>
</div>
