$header-background-color: rgba(17, 20, 23, 0.8);
$black: black;
$white: #f4f1de;
$green: #2e7d32;
$size: 50px;
$tomatored: #e63946;

$warning: #e64e04;
$alpha_015: rgba(255, 255, 255, 0.15);
$alpha_01: rgba(255, 255, 255, 0.1);
$link_color: #a3a4a6;

