$black: black;
$white: white;
$green: #2e7d32;
$size: 50px;

$warning: #e64e04;
$alpha_015: rgba(255, 255, 255, 0.15);
$alpha_01: rgba(255, 255, 255, 0.1);
$link_color: #a3a4a6;

//// header todo
$color_4: #cacbcb;
$background-color_1: rgba(17, 20, 23, 0.8);
$background-color_4: inherit;
$background-color_6: #eceff1;
$background-color_7: #cfd8dc;
