@use "sass:color";
@use "../colors";

ul.breadcrumb {
  margin-left: colors.$size;
  display: inline-block;
  list-style: none;

  li {
    float: right;
    padding: calc(colors.$size / 10);
    background-color: colors.$black;
    border-radius: colors.$size;
    position: relative;
    margin-left: -(colors.$size);
    margin-top: 3px;

    a {
      overflow: hidden;
      border-radius: colors.$size;
      text-decoration: none;
      height: colors.$size;
      color: color.adjust(colors.$black, $lightness: -5%);
      background-color: colors.$green;
      text-align: center;
      min-width: colors.$size;
      display: block;
      line-height: colors.$size;
      padding-left: colors.$size + 2;
      padding-right: calc(colors.$size / 2 + colors.$size / 6);
      width: colors.$size;

      .icon {
        display: inline-block;
      }

      .text {
        display: none;
        opacity: 0;
      }

      &:hover {
        width: 220px;
        background-color: color.adjust(colors.$green, $lightness: 5%);

        .text {
          display: inline-block;
          opacity: 1;
          margin-left: 10px;
        }
      }
    }

    &:last-child {
      a {
        padding: 0;
      }

      &:hover {
        padding: calc((colors.$size / 10) - 2px);
        margin-top: 0;

        a {
          width: colors.$size + 10;
          height: colors.$size + 10;
          line-height: colors.$size + 10;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  nav .breadcrumb {
    display: none;
  }
}
