<app-headline>Java</app-headline>
<div class="row">
  <div class="twelve columns">
    <pre><code [highlight]="helloWorld" language="java"></code></pre>
    <p>
      Java ist eine weit verbreitete, statisch typisierte Programmiersprache, die auf der JVM läuft. Sie ist bekannt
      für ihre Plattformunabhängigkeit ("Write once, run anywhere"), umfangreiche Standardbibliothek und starke
      Tooling-Unterstützung.
    </p>
    <div>
      <ul>
        <li><a routerLink="equals-hashcode">equals() & hashCode(): Vertragsfallen</a></li>
        <li><a routerLink="concurrent-modification">ConcurrentModificationException – warum und wie vermeiden?</a></li>
      </ul>
    </div>
  </div>
</div>
