<app-headline h1="Our Awesome Services"
              subtitle="S111sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit."></app-headline>
<div class="row mobile-no-padding">
  <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">
    <app-card class="bgrid" header="Videography." content="asdfsdf"></app-card>
    <app-card class="bgrid" header="Marketing." content="asdfsdf"></app-card>
    <app-card class="bgrid" header="Photography." content="asdfsdf"></app-card>
    <app-card class="bgrid" header="Branding." content="asdfsdf"></app-card>
    <app-card class="bgrid" header="Web Design." content="asdfsdf"></app-card>
    <app-card class="bgrid" header="Web Development." content="asdfsdf"></app-card>
  </div>
</div>
