
#services {
  background: #12151b;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid #15191d;
}

.service-list {
  margin: 18px -2px 0;
}

.service-list .bgrid {
  padding: 0 22px 6px;
}

.service-list .bgrid {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.service-list .bgrid:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .service-list .bgrid:hover {
    background: inherit;
  }
}

@media only screen and (max-width: 1024px) {
  .service-list {
    margin: 18px 0 0;
  }

  .service-list .bgrid {
    padding: 0 18px 6px;
  }
}

@media only screen and (max-width: 768px) {
  .service-list .bgrid {
    padding: 0 15px 6px;
  }
}

@media only screen and (max-width: 600px) {
  .service-list .bgrid {
    padding: 0 10px 6px;
  }
}

@media only screen and (max-width: 400px) {
  .service-list .bgrid {
    padding: 0 0 6px;
  }
}
