.overlay {
  position           : absolute;
  left               : 0;
  top                : 0;
  width              : 100%;
  height             : 100%;
  background         : rgba(0, 0, 0, 0.85);
  filter             : alpha(opacity=0);
  -ms-filter         : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity            : 0;
  zoom               : 1;
  -moz-transition    : opacity 0.5s ease-in-out;
  -o-transition      : opacity 0.5s ease-in-out;
  -webkit-transition : opacity 0.5s ease-in-out;
  -ms-transition     : opacity 0.5s ease-in-out;
  transition         : opacity 0.5s ease-in-out;
}

.item-wrap {
  background : #111417;
  overflow   : hidden;
  position   : relative;
}

.item-wrap a {
  display  : block;
  cursor   : pointer;
  position : relative;
}

.item-wrap .link-icon {
  display            : block;
  height             : 30px;
  width              : 30px;
  margin-left        : -15px;
  margin-top         : -15px;
  font-size          : 14px;
  line-height        : 30px;
  text-align         : center;
  color              : #ffffff;
  filter             : alpha(opacity=0);
  -ms-filter         : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity            : 0;
  zoom               : 1;
  -moz-transition    : opacity 0.5s ease-in-out;
  -o-transition      : opacity 0.5s ease-in-out;
  -webkit-transition : opacity 0.5s ease-in-out;
  -ms-transition     : opacity 0.5s ease-in-out;
  transition         : opacity 0.5s ease-in-out;
  position           : absolute;
  top                : 50%;
  left               : 50%;
}

.item-wrap img {
  vertical-align     : bottom;
  -moz-transition    : all 0.5s ease-in-out;
  -o-transition      : all 0.5s ease-in-out;
  -webkit-transition : all 0.5s ease-in-out;
  -ms-transition     : all 0.5s ease-in-out;
  transition         : all 0.5s ease-in-out;
}

.portfolio-item-meta {
  width              : 100%;
  text-align         : center;
  position           : absolute;
  top                : 20%;
  left               : -100px;
  filter             : alpha(opacity=0);
  -ms-filter         : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity            : 0;
  zoom               : 1;
  -moz-transition    : all 0.5s ease-in-out;
  -o-transition      : all 0.5s ease-in-out;
  -webkit-transition : all 0.5s ease-in-out;
  -ms-transition     : all 0.5s ease-in-out;
  transition         : all 0.5s ease-in-out;
}

.portfolio-item-meta h5 {
  font           : 14px/21px "raleway-bold", sans-serif;
  letter-spacing : 2px;
  color          : white;
  margin         : 0;
}

.portfolio-item-meta p {
  font   : 14px/18px "raleway-semibold", sans-serif;
  color  : #8a8a8a;
  margin : 0;
}


.item-wrap:hover .overlay, .item-wrap:hover .link-icon, .item-wrap:hover .portfolio-item-meta {
  filter     : alpha(opacity=100);
  -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity    : 1;
  zoom       : 1;
}

.item-wrap:hover .portfolio-item-meta {
  left : 0;
}

.item-wrap:hover img {
  -moz-transform    : scale(1.1);
  -o-transform      : scale(1.1);
  -webkit-transform : scale(1.1);
  -ms-transform     : scale(1.1);
  transform         : scale(1.1);
}

@media only screen and (max-width : 500px) {
  .portfolio-item-meta {
    top : 16%;
  }

  .portfolio-item-meta h5 {
    font           : 13px/21px "raleway-bold", sans-serif;
    letter-spacing : 1px;
  }

  .portfolio-item-meta p {
    font : 13px/18px "raleway-semibold", sans-serif;
  }
}

@media only screen and (max-width : 400px) {
  .portfolio-item-meta {
    top : 12%;
  }

  .portfolio-item-meta h5 {
    font           : 11px/18px "raleway-bold", sans-serif;
    letter-spacing : 1px;
  }

  .portfolio-item-meta p {
    font : 11px/16px "raleway-semibold", sans-serif;
  }
}

