<app-headline>Python</app-headline>
<div class="row">
  <div class="twelve columns">
    <pre><code [highlight]="helloWorld" language="python"></code></pre>
    <p>
      Python ist eine vielseitige, leicht zu erlernende Sprache mit klarem, gut lesbarem Syntax.
      Sie eignet sich sowohl für Skripting und Automatisierung als auch für Web, Data Science und KI.
      Nachfolgend sammle ich typische Fallstricke und wissenswerte Themen rund um Python.
    </p>
    <div>
      <ul>
        <li><a routerLink="mutable-default">Mutable Default Argumente – warum sie gefährlich sind</a></li>
        <li><a routerLink="gil-threads">GIL & Threads – was parallel wirklich passiert</a></li>
      </ul>
    </div>
  </div>
</div>
