<app-headline [subtitle]="'JAVASCRIPT.ASYNC.SUBTITLE' | translate">{{ 'async/await' | translate }}</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      {{ 'JAVASCRIPT.ASYNC.INTRO' | translate }}
    </p>

    <p>{{ 'JAVASCRIPT.ASYNC.BAD' | translate }}</p>
    <pre><code [highlight]="codeBad" language="javascript"></code></pre>

    <p>{{ 'JAVASCRIPT.ASYNC.GOOD' | translate }}</p>
    <pre><code [highlight]="codeGood" language="javascript"></code></pre>

    <p>{{ 'JAVASCRIPT.ASYNC.ERROR' | translate }}</p>
    <pre><code [highlight]="codeError" language="javascript"></code></pre>
  </div>
</div>
