<app-headline>async/await & Promise-Fallen</app-headline>
<div class="row">
  <div class="twelve columns">
    <p>
      <code>async/await</code> vereinfacht asynchrone Logik. Achte darauf, unabhängige Promises parallel auszuführen und
      Fehler korrekt zu behandeln.
    </p>

    <p>Anti-Pattern: sequenzielles Warten:</p>
    <pre><code [highlight]="codeBad" language="javascript"></code></pre>

    <p>Korrekt: parallel mit <code>Promise.all</code>:</p>
    <pre><code [highlight]="codeGood" language="javascript"></code></pre>

    <p>Fehlerbehandlung mit <code>try/catch</code>:</p>
    <pre><code [highlight]="codeError" language="javascript"></code></pre>
  </div>
</div>
