<app-headline h1="Ackermann"></app-headline>
<div class="row">
  <div class="twelve columns">
    <p>Die Ackermann-Funktion ist ein prominentes Beispiel für eine rekursive Funktion.</p>

    <p>
      Sie ist nach F. Wilhelm Ackermann (1886-1962) benannt. Viele Funktionen der mathematischen Praxis sind primitiv
      rekursiv. David Hilbert stellte 1926 die Frage, ob alle Funktionen, deren Argumente und Werte natürliche
      Zahlen sind, primitiv rekursiv sind. Die Ackermann-Funktion steigt sehr stark an und ist für Theoretiker ein
      Beispiel dafür, dass es berechenbare Funktionen gibt, die jedoch nicht primitiv rekursiv sind. 1928 zeigte
      Ackermann dies am Beispiel der Ackermann-Funktion. Sie wächst stärker, als es Substitution und Rekursion
      ermöglichen. Nur für kleine Argumente lassen sich die Funktionswerte noch ohne Rekursion berechnen. Darin
      bestand auch die Beweisidee von Ackermann. Im Folgenden wird nicht die originale Version von Ackermann benutzt,
      welche durch diese Funktionalgleichung ausgedrückt wird:
    </p>


    <pre><code [highlight]="code1" language="prolog"></code></pre>

    <p>
      Stattdessen wird die Variante von Hans Hermes verwendet, welche direkt aus dem Original gewonnen wird. Dabei ist
      die Funktion eine Abbildung von zwei ganzen Zahlen auf eine ganze Zahl
      <code class="inline-code" highlight="a(n,m)" language="prolog"></code>. Sie ist mathematisch durch folgende
      Gesetzmäßigkeit
      definiert:
    </p>

    <pre><code [highlight]="code2" language="prolog"></code></pre>

    <p>
      Die Ackermann-Funktion ist dafür berühmt, die Rechenkapazität ganz schnell zu erschöpfen. Die Funktionsdefinition
      nach Hermes lässt sich dabei quasi 1:1 in Prolog überführen:
    </p>

    <pre><code [highlight]="code3" language="prolog"></code></pre>

    <p>
      Ausgeführt werden kann dann mittels:
    </p>

    <pre><code [highlight]="code4" language="prolog"></code></pre>

    <p>
      Das Ergebnis würde in der Variable <code class="inline-code" highlight="L" language="prolog"></code> stehen.
      Allerdings kommt es zu
      folgendem Fehler:
    </p>

    <pre><code [highlight]="code5" language="prolog"></code></pre>

    <p>
      Bei kleinerem Funktionsaufruf erhält man ein Ergebnis:
    </p>

    <pre><code [highlight]="code6" language="prolog"></code></pre>

    Dies zeigt deutlich, dass es bei der Ackermann-Funktion bereits bei geringen Werten zu Speicherengpässen kommen
    kann.

  </div>
</div>
